@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
/* @import url(fonts/Helvetica.ttf); */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap');



/* Header & Nav  */

*{
    margin: 0;
    padding: 0;
}
.header{
    display: inline-flex;
    align-content: center;
    justify-content: center;
    margin: 2vh 3vw  0 3vw;
}

header img{
  height: 10vh;
  width: 10vw;
}

.header nav li{
    list-style: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 0 0 5vw;
}

.header nav li a{
    text-decoration: none;
    color: black;
    font-family: Poppins;
    font-weight: bolder;
    margin: 0 3vw;
}
.header nav li a:hover{
    font-size: 2vh;
}
header:after{
    background-color: red;
    height: 1vh;
    width: 100vw;
}

/* Animation Input  */

nav{
  margin-top: 40px;
  margin-left: 2vw;
  /* padding: 24px; */
  text-align: center;
  font-family: Poppins;
  /* box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5); */
}

#nav-1 {
  background: white;
}

.link-1 {
  transition: 0.4s;
  color: black;
  font-size: 2vh;
  text-decoration: none;
  padding: .5vh 1vw;
  margin: .5vh 1vw;
}
.link-1:hover {
  background-color: black;
  color: white;
  padding: 5.5vh 2vw;
}

/* Line  */


.line{
    margin-top: 2vh;
    background-color: red;
    height: .5vh;
    width: 100vw;
}



/* CATEGORY SECTION  */

.content{
  margin: 2vh 3vw;
  padding: 1vh 2vw;
}
.content h2{
  font-family: Outfit;
  margin: 2vh;
  font-weight: 900;
  text-align: center;
}

.content .btn{
  /* outline: none; */
  border: black solid .1vh;
  background-color: transparent;
  font-family: 'DM Sans';
  margin: 2vh 2vw;
  padding: 1.5vh 1.5vw;
  font-size: 2vh;
  cursor: pointer;
}
.content .btn:hover{
  background-color: gray;
  color: white;
  font-size: 2.1vh;
}

.content .item{
  padding: 1vh 1vw;
}

.content .item h3{
  font-family: Outfit;
  
}








/* Media Queries  */

@media only screen and (max-width: 900px) {
    
  header{
    display: flex;
    flex-wrap: wrap;
  }

  header img{
    width: 60vw;
    height: 14vh;
    text-align: center;
  }

  .link-1:hover {
    background-color: black;
    color: white;
    padding: 1vh 2vw;
  }
  

}